<section class="card-container">
    <div class="card">
        <div class="card-img"></div>
        
        <h1 class="card-title h3 text-center mt-4">Placa de video rx 480</h1>

        <small class="card-preco text-center text-success">R$ 540,32</small>
    </div>

    <div class="card">
        <div class="card-img"></div>
        
        <h1 class="card-title h3 text-center mt-4">Placa de video rx 480</h1>

        <small class="card-preco text-center text-success">R$ 540,32</small>
    </div>


    <div class="card">
        <div class="card-img"></div>
        
        <h1 class="card-title h3 text-center mt-4">Placa de video rx 480</h1>

        <small class="card-preco text-center text-success">R$ 540,32</small>
    </div>
</section>